AccessModifierOffset: -4
AlignAfterOpenBracket: AlwaysBreak
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: true
BasedOnStyle: Mozilla
BinPackArguments: false
BinPackParameters: false
BreakConstructorInitializers: BeforeComma
ColumnLimit: 100
Cpp11BracedListStyle: true
DerivePointerAlignment: false
IndentWidth: 4
NamespaceIndentation: Inner
PenaltyBreakBeforeFirstCallParameter: 2
PointerAlignment: Left
Standard: Latest
TabWidth: 4
UseTab: ForIndentation
